@import "tailwindcss";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary: rgb(30 64 175);
  --secondary: rgb(37 99 235);
  --accent: rgb(250 204 21);
  --accent-dark: rgb(202 138 4);

  --text-d: rgb(15 23 42); /* main dark text */
  --text-p: rgb(30 64 175); /* primary text */
  --text-m: rgb(100 116 139); /* muted text */
  --text-w: rgb(248 250 252); /* light text */

  --bg-dark: rgb(9, 13, 22); /* dark background */
  --bg-dark-b: rgb(3, 19, 74); /* darker background */
  --bg-light: rgb(248 250 252); /* light background */
  --bg-section: rgb(179, 182, 184); /* section background, softer */

  --gradient-main: linear-gradient(
    to bottom right,
    rgb(149, 192, 249),
    rgb(3, 20, 43),
    rgb(255 255 255)
  );

  --font-primary: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --font-heading: "Poppins", "Inter", sans-serif;

  --cost-margin-s: 1rem;
  --cost-margin-l: 1.5rem;
  --cost-margin-xl: 2rem;
  --cost-margin-xxl: 3rem;
}

body,
html {
  overflow-x: hidden;
}

/* set global font stacks using CSS variables */
body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* headings use the heading font */
h1,
h2,
h3,
.home-head {
  font-family: var(--font-heading);
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
/* global.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}
.cursor-dot,
.cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999;
  transform: translate(-50%, -50%);
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background: rgb(234, 170, 73);
  border-radius: 50%;
}

.cursor-ring {
  width: 35px;
  height: 35px;
  border: 3px solid rgb(50, 29, 183);
  border-radius: 50%;
}
.grid-img {
  backface-visibility: hidden;
  transform: translateZ(0);
}
